@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: auto;
    background-image: url(images/bg-tablet-pattern.svg);
    background-position:50rem;
    background-repeat: no-repeat;
    background-size: 50rem ;
    background-attachment:fixed;
}
header{
    margin: 60px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul li{
    list-style: none;
    display: flex;
    gap: 20px;
    cursor: pointer;
    transition: 0.5s;
}
header ul li:hover{
    color: grey;
    transform: scale(1.1);
}
.btn button{
    padding: 15px 25px;
    outline: 0;
    border: none;
    background-color: orange;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
}
.btn button:hover{
    background-color: orangered;
    transform: scale(1.1);
}
.section1{
    margin: 70px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main h1{
    font-size: 50px;
    margin-bottom: 30px;
    color: rgb(45, 46, 83);
}
.main p{
    color: grey;
}
.section2{
    margin: 0px 140px;
    display: flex;
    justify-content:space-between;
    align-items: start;
}
.section2 .question{
    width: 90rem;
}
.section2 .question h1{
    font-size: 35px;
    color: rgb(45, 46, 83);
    margin-bottom: 20px;
}
.section2 .question p{
    color: gray;
}
.answers{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.answers .title-bar{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    right: 80px;
    margin-bottom: 10px;
}
.answers .title-bar p{
    padding: 6px 20px;
    background: orange;
    border-radius: 20px;
    
}
.answers .title-bar h3{
    color: rgb(45, 46, 83);
}
.ans{
    color: grey;
}
.section3{
    font-size: 25px;
    margin: 30px 70px;
}
.section3 h1{
    color: rgb(45, 46, 83);
    text-align: center;
    margin: 70px;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.container .item {
    width: 28rem;
    height: 13rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5),
                -2px -2px 2px rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}
.container .item img{
    position: relative;
    width: 60px;
    bottom: 36px; 
}
.container .item h3{
    position: relative;
    color: rgb(45, 46, 83);
}
.container .item p{
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    color: grey;
}
.section3 .btn{
    margin-top: 60px;
    text-align: center;
}
.section4{
    width: 100%;
    height: 17rem;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section4 h1{
    font-size: 35px;
}
.section4 .btn button{
    background-color: #fff ;
}
footer{
    
}
.footer-content{
    width: 100%;
    height: 17rem;
    background-color: rgb(19, 18, 18);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.social-media{
    display: flex;
    gap: 15px;
    transition: .5s;
}
.social-media img:hover{
     transform: scale(1.3);
}
.menu-list{
    display: flex;
    gap: 50px;
}
.menu-list ul li{
    list-style: none;
    color: grey;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
    transition: .5s;
}
.menu-list ul li:hover{
    transform: scale(1.1);
}
.input-field{
    display: flex;
    gap: 15px;
}
.input-field input{
    padding: 10px;
    width: 240px;
    border-radius: 10px;
    outline: 0;
    font-size: 18px;
}